:root{
  --bg-color: red;
  --color-1: #4eb478;
  --color-2: #5e5e5e;
  --color-3: #848484;
  --color-4: #5e5e5e;
  --color-5: #e7e7e7;
  --color-6: #999;
  --color-7: #bababa;
  --color-8: #777777;
  --color-9: #aaaaaa;
  --card-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  --test-border: 6px solid rgba(255, 255, 255, 0.15);
  --team-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
  --news-bg: #111111;
  --footer-bg: #1b1b1b;
}

body{
  font-family: 'Raleway', sans-serif !important;

  color: #444444 !important;
}

*{
  margin: 0;
  padding: 0;
}
* {
  cursor: url(http://cur.cursors-4u.net/cursors/cur-8/cur740.ani), url(http://cur.cursors-4u.net/cursors/cur-8/cur740.png), auto !important;
}

a{
  cursor: url(http://cur.cursors-4u.net/symbols/sym-6/sym546.cur), auto !important;
}
button{
  cursor: url(http://cur.cursors-4u.net/symbols/sym-6/sym546.cur), auto !important;
}
a:hover{
  text-decoration: none !important;
}


/*===================
section-title
====================*/
.section-title {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.section-title h1 {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 0;
    color: #f4f4f4;
    z-index: 1;
}
.section-title span {
    font-size: 35px;
    position: relative;
    z-index: 2;
    font-weight: 700;
    color: var(--color-1);
    line-height: 1;
}


/*===================
navbar-section
===================*/
.navbar {
  background: #000000;
  overflow: hidden;
  position: relative;
}
.navbar::after{
  content: '';
  display: table;
  clear: both;
}
.navbar .navbar-brand{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  transition: all .5s ease-in;
}
.navbar .navbar-brand span{
  color: var(--color-1);
  transition: all .5s ease-in;
}
.navbar .navbar-brand:hover{
  color: var(--color-1);
  transition: all .5s ease-in;
}
.navbar .navbar-brand:hover span{
  color: #fff;
}
.navbar .navbar-toggler{
  outline: none;
}
.navbar .navbar-toggler i.fa{
  color: #fff;
}
.navbar .nav-link{
  color: #ffff;
  font-size: 18px;
  padding: 12px 15px !important;
  transition: .5s ease-in;
}

.navbar a.nav-link.active{
  color: var(--color-1);
}
.navbar .nav-link:hover{
  color: var(--color-1);
}
/*===================
hero-section
===================*/
#hero{
  background: url('../img/hero-bg.jpg') center center no-repeat;
  background-size: cover;
  min-height: 80vh;
  overflow: hidden;
  position: relative;
}
#hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
}
#hero .hero-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
#hero .hero-info h1{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
#hero .hero-info h3{
  color: #ddd;
  font-size: 25px;
  margin: 20px 0px 30px 0px;
}
#hero .hero-info .hero-btn{
  background: none;
  border: none;
  color: #fff;
  font-size: 25px;
  padding: 8px 20px;
  outline: none;
  position: relative;
}
#hero .hero-info .hero-btn::before {
  content: '';
  position: absolute;
  border-top: 2px solid var(--color-1);
  border-left: 2px solid var(--color-1);
  width: 50%;
  height: 50%;
  left: 0px;
  top: 0;
  transition: .5s;
}
#hero .hero-info .hero-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 2px solid var(--color-1);
  border-bottom: 2px solid var(--color-1);
  width: 50%;
  height: 50%;
  transition: .5s;
}
#hero .hero-info .hero-btn:hover::before{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#hero .hero-info .hero-btn:hover::after{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
/*===================
about-section
===================*/
#about{
  padding: 50px 0px;
}
#about .about-img{
  background: url(../img/about.jpg) center no-repeat;
  background-size: cover;
  min-height: 400px;
  border-radius: 5px;
}
.right-content{
  padding: 0px 20px;
}
.right-content h2 {
  font-size: 35px;
  font-weight: 600;
}
.right-content p {
  font-size: 18px;
}
.about-icon-box i.fas {
  font-size: 35px;
  color: var(--color-1);
  float: left;
  display: block;

}
.about-icon-box h3 {
  display: block;
  font-size: 20px;
  margin-left: 45px;
  font-weight: 700;
}
.about-icon-box p {
  font-size: 18px;
  margin-left: 45px;
  margin-top: 10px;
  color: var(--color-3);
}

/*===================
client-section
===================*/
#clients{
  background: #f4f4f4;
  padding: 50px 0px;
}
.client{
  text-align: center;
}
.client img{
  width: 50%;
  filter: grayscale(1);
}
.client img:hover{
  filter: grayscale(0);
}
/*===================
features-section
===================*/
#features{
  padding: 50px 0px;
}
#features .card {
  border: none;
  background: #f7f7f7;
  overflow: hidden;
  transition: .5s ease-in-out;
}
#features .card:hover {
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#features .card-body {
  position: relative;
}
#features .card-body i.far{
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e7e7e7;
  z-index: 1;
}
#features h2.card-title {
  font-size: 30px;
  font-weight: 600;
  transition: .5s ease-in-out;
}
#features .card:hover h2.card-title{
  color: var(--color-1);
}
#features p.card-text {
  position: relative;
  z-index: 2;
  color: #5e5e5e;
}
/*===================
cta-section
===================*/
#cta {
  background: linear-gradient(rgba(2, 2, 2, 0.6),rgba(0,0,0,0.8)), url(../img/cta-bg.jpg)fixed center center no-repeat;
  background-size: cover;
  padding: 50px 0px;
}
.cta-info h1 {
  color: #fff;
  font-weight: 600;
}
.cta-info p {
  font-size: 20px;
  color: #ddd;
}
.cta-info button.cta-btn {
  background: none;
  border: 2px solid #fff;
  padding: 6px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 2px;
  transition: .5s ease-in;
}
.cta-info button.cta-btn:hover{
  background: var(--color-1);
  border-color: transparent;
}

/*===================
services-section
===================*/
#services{
  padding: 50px 0px;
}
.services-box {
  padding: 20px;
}
.services-box i.services-icon {
  display: block;
  float: left;
  margin-top: 5px;
  font-size: 25px;
}
.services-box h3 {
  font-size: 24px;
  color: var(--color-1);
  margin-left: 50px;
}
.services-box p {
  margin-left: 50px;
}


/*===================
portfolio-section
===================*/
#portfolio{
  padding: 50px 0px;
}
.portfolio-filter ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.portfolio-filter li {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}
.portfolio-filter li.active {
  color: var(--color-1);
}


.protfolio-item {
  position: relative;
  overflow: hidden;
}

.protfolio-item:before {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  background: rgba(0,0,0,0.5);
  transition: all .5s ease-in;
  opacity: 0;
}
.protfolio-item:hover::before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 1;
}
.portfolio-info {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  transition: all .5s ease-in;
  opacity: 0;
}
.protfolio-item:hover .portfolio-info{
  top: calc(50% - 50px);
  opacity: 1;
}
.portfolio-info h2 {
  color: #fff;
  font-size: 20px;
}
.portfolio-info span {
  color: #ddd;
}
.portfolio-link {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  transition: all .5s ease-in;
  opacity: 0;
}
.protfolio-item:hover .portfolio-link{
  bottom: calc(50% - 50px);
  opacity: 1;
}
.portfolio-link a.active {
  color: var(--color-1) !important;
}
.portfolio-link a {
  color: #fff !important;
  padding: 5px;
}
.grid-item{
  margin-bottom: 20px;
}

/*===================
testimonial-section
===================*/



/*===================
testimonial-section
===================*/
#testimonial{
  background: url('../img/testimonials-bg.jpg') center  no-repeat;
  position: relative;
  padding: 30px 0px;
}
#testimonial::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 17, 17, 0.7);
}
.testimonial-item {
  text-align: center;
}
.testimonial-item img.img-fluid {
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  border: 6px solid rgba(255, 255, 255, 0.15);
}
.testimonial-item h4 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 600;
}
.testimonial-item span{
  color: #ddd;
}
.testimonial-item p {
    color: #fff;
    font-size: 20px;
    font-style: italic;
}

.owl-theme .owl-dots .owl-dot{
  outline: none;
}

.owl-theme .owl-dots .owl-dot span {
    background: var(--color-1) !important;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
  background: #ddd !important;
}
/*===================
team-section
===================*/
#team{
  padding: 50px 0px;
}
.team-member {
    position: relative;
    overflow: hidden;
    transition: .5s ease-in;
}
.team-member:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.member-info {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: bottom .5s;
  color: #fff;
}
.team-member:hover .member-info{
  bottom: 60px;
	opacity: 1;
}
.team-member h4 {
    font-size: 18px;
    margin-bottom: 0;
}
.team-member span {
    font-size: 14px;
}
.team-member .social-icon a{
    color: #fff;
    padding: 3px 15px;
}
.social-icon {
  position: absolute;
   bottom: -38px;
   height: 48px;
   transition: bottom .5s;
   left: 0;
   right: 0;
   opacity: 0;
   text-align: center;
}

.team-member:hover .social-icon {
  bottom: 0px;
	opacity: 1;
}


/*===================
-section
===================*/
#pricing{
  padding: 50px 0px;
}
.pricing-box {
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    border: 2px solid #fff;
    padding: 20px !important;
    text-align: center;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.pricing-box h3 {
    font-weight: 200;
}
.pricing-box h4 {
    font-size: 40px;
    color: var(--color-1);
    font-weight: 600;
    margin-bottom: 30px;
    font-family: auto;
}
.pricing-box span {
    display: block;
    font-size: 20px;
    color: #bababa;
    font-weight: 500;
}
.pricing-box ul {
    list-style: none;
    margin-left: 10px;
    margin-bottom: 30px;
}
.pricing-box li {
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
    color: #999;
}
.pricing-box i.fas {
    color: var(--color-1);
    font-size: 14px;
    margin-right: 10px;
}
.pricing-box li.na {
    text-decoration: line-through;
    color: #cccc;
}

.p-features {
    background: var(--color-1);
    margin: -30px 0px -30px -5px;
    z-index: 10;
    border: none;

}
.p-features button.pricing-btn:hover{
  background: #fff;
  border-color: transparent;
}
.p-features h3,
.p-features h4,
.p-features span,
.p-features ul li,
.p-features i.fas,
.p-features button.pricing-btn{
  color: #fff;
}

button.pricing-btn {
    background: none;
    border: 2px solid #dddddd;
    outline: none;
    padding: 5px 25px;
    border-radius: 3px;
    font-size: 17px;
    color: #444444;
    transition: .5s ease-in;
}
button.pricing-btn:hover{
  color: var(--color-1);
  border-color: var(--color-1);
}

.pricing-box h2.Advance {
    position: absolute;
    background: var(--color-1);
    color: #fff;
    width: 200px;
    font-size: 20px;
    padding: 5px;
    top: 20px;
    right: -60px;
    transform: rotate(45deg);
}
/*===================
faq-section
===================*/
#faq{
  padding: 50px 0px;
  background: #f3faf6;
  overflow: hidden;
}
#faq ul {
    list-style: none;
    padding: 50px;
}
#faq li {
    background: #ffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
}
#faq .faq  i.far.fa-question-circle {
    color: #a8dabc;
    font-size: 20px;
}
.faq ul li a {
    color: #444444;
    font-size: 18px;
    margin-left: 5px;
    font-weight: 600;
}
.faq ul li a.active {
    color: var(--color-1);
}
.faq p {
    font-size: 20px;
    margin: 30px;
}
/*===================
contact-section
===================*/
#contact{
  padding: 50px 0px;
}
.info-box {
    border: 2px solid #fff;
    padding: 20px;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}
#contact .info-box .info-icon {
    border: 2px solid #cbe9d8;
    color: var(--color-1);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.info-box h3 {
    color: #777777;
    font-size: 20px;
    font-weight: 600;
}
.info-box p {
    margin-left: 70px;
    font-weight: 500;
}
#contact form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
}
#contact  .form-control {
    border: 2px solid #cbe9d8 !important;
}
#contact textarea {
    width: 100%;
}
.form-control:focus {
    color: #4eb478;
    box-shadow: none;
}
#contact .submit-btn {
    text-align: center;
    margin-top: 15px;
}
#contact .submit-btn input[type="submit"] {
    padding: 12px 25px;
    background: #4eb478;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 3px;
}

/*===================
footer-section
===================*/
#footer{
  background: #111111;
  overflow: hidden;
}
.news-letter{
  background: #111111;
  padding: 30px 0px;
      text-align: center
}

.news-letter form {
    position: relative;
    background: white;
    padding: 10px;
    border-radius:5px;
}

.news-letter input[type="email"] {
    width: calc(100% - 100px);
    border: none;
    outline: none;
}
.news-letter input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0px 20px;
    border: none;
    outline: none;
    color: #fff;
    background: var(--color-1);
    font-weight: 600;
    border-radius: 0px 5px 5px 0px;
}
.news-letter h1 {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.news-letter p {
    color: #ddd;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 45px;
}

.footer-top {
  padding: 50px 0px;
  background: #1b1b1b;
}
.footer-content{
  color: #b7b7b7;
}
.footer-content span {
    color: var(--color-1);
}
.footer-content p {
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 40px;
}

.footer-content strong {
    color: #b7b7b7;
}

.footer-link h3 {
    color: #ddd;
    font-size: 16px;
    font-weight: 600;
}
.footer-link ul {
    list-style: none;
}
.footer-link li {
    padding: 8px 0px;
}
.footer-link .footer-iocn {
    margin-right: 8px;
    font-size: 18px;
    color: #4eb478;
}
.footer-link a {
    color: #aaaaaa;
    transition: .5s ease-in;
}
.footer-link a:hover{
  color: #4eb478;
}

.footer-link p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.footer-link .social-link a {
    display: inline-block;
    background: #373737;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    font-size: 17px;
    transition: .5s ease-in;
    margin: 0px 3px 0px 3px;
}
.footer-link .social-link a:hover{
  background: var(--color-1);
  transform: rotate(360deg);
}

.copy-write {
    color: #ddd;
    padding: 25px;
}
.copy-write span {
    color: #fff;
    font-weight: 700;
}
.credits {
    padding: 25px;
    color: #aaaaaa;
}

.credits a{
  color: var(--color-1);
}
.credits a:hover{
  color: var(--color-1);
}
/*===========
scroll-to-top
============*/
#scroll-to-top {
    background: var(--color-1);
    width: 50px;
    height: 50px;
    display: flex;
    position: fixed;
    bottom: 40px;
    right: 40px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    opacity: 0.7;
    transition: .5s ease-in;
}
#scroll-to-top:hover{
  opacity: 1;
}
/*==============
protfolio-detiles-page
===============*/
/*==============
bredcrumbs
===============*/
#bredcrumbs{
  padding: 20px 0px;
  background: #fff;
}
#bredcrumbs h2 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 0;
}
#bredcrumbs ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 0;
}
#bredcrumbs ol li+li {
    margin-left: 10px;
}
#bredcrumbs ol li+li:before {
    content: '/';
    padding-right: 10px;
}
#bredcrumbs ol li a {
    color: var(--color-1);
}
#portfolio-detiles .portfolio-details-container {
    position: relative;
}
.portfoio-details{
  position: relative;
  z-index: 1;
}
#portfolio-detiles .portfolio-info-se {
    position: absolute;
    right: 0;
    bottom: 120px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 4px;
    z-index: 2;
}
#portfolio-detiles .portfolio-info-se h2 {
    font-size: 22px;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#portfolio-detiles .portfolio-info-se ul{
  list-style: none;
}

#portfolio-detiles .portfolio-info-se ul li {
    margin-bottom: 11px;
    font-size: 15px;
}
#portfolio-detiles .portfolio-info-se ul li a{
  color: var(--color-1) ;
}

#portfolio-detiles .portfolio-des {
    padding-top: 80px;
}

#portfolio-detiles .owl-theme .owl-dots {
    text-align: left;
}

#portfolio-detiles .portfolio-des h1 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 700;
}
#portfolio-detiles .portfolio-des p {
    font-size: 18px;
    font-weight: 500;
}
